export(alea_fit)
S3method(print,alea_fit)
S3method(coef,alea_fit)

export(alea_return_level)
S3method(alea_return_level,alea_fit)
S3method(print,alea_return_level)
S3method(as.data.frame,alea_return_level)

S3method(confint,alea_fit)
S3method(print,alea_return_level_ci)
S3method(as.data.frame,alea_return_level_ci)

export(alea_gof)
S3method(alea_gof,alea_fit)
S3method(print,alea_gof)
S3method(as.data.frame,alea_gof)

export(alea_diagnostics)
S3method(alea_diagnostics,numeric)
S3method(alea_diagnostics,alea_fit)
S3method(print,alea_diagnostics)
S3method(as.data.frame,alea_diagnostics)

export(alea_ai_model_info)
S3method(print,alea_ai_model_info)

export(alea_select)
S3method(alea_select,numeric)
S3method(alea_select,alea_fit)
S3method(print,alea_selection)
S3method(as.data.frame,alea_selection)

export(alea_batch_fit)
export(alea_results)
S3method(print,alea_batch)
S3method(as.data.frame,alea_batch)

export(alea_save_plot)
export(alea_save_plots)
export(alea_export)
S3method(plot,alea_fit)
S3method(plot,alea_return_level)
S3method(plot,alea_return_level_ci)
S3method(plot,alea_gof)
S3method(plot,alea_diagnostics)
S3method(plot,alea_selection)
S3method(plot,alea_batch)

importFrom(stats, ave)
importFrom(stats, coef)
importFrom(stats, predict)